<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Management</title>
</head>
<body>
    <h1>Users</h1>
    <a href="/create">Add User</a>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Actions</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
            <td>{{ user[3] }}</td>
            <td>
                <a href="{{ url_for('update', id=user[0]) }}">Edit</a>
                <a href="{{ url_for('delete', id=user[0]) }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
